/* Reset básico para todos los elementos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Reset de tipografía */
body, button, input, textarea {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

/* Reset de listas */
ul, ol {
  list-style: none;
}

/* Reset de enlaces */
a {
  text-decoration: none;
  color: inherit;
}

/* Reset de imágenes */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Reset de botones */
button {
  border: none;
  background: none;
  cursor: pointer;
}

/* Reset de formularios */
input, textarea, select {
  border: none;
  outline: none;
}

/* Evitar que los elementos usen estilos predeterminados de navegador */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header con color más oscuro */
.header {

  color: rgb(48, 46, 46);
  text-align: center;
  padding: -1px;
  height: 132px;
  margin-top: -1px;
  
}
.title{
  position: relative;
  top: -62px;
}
/* Logo */
.logo-container {

  /* margin-bottom: 1px; */
  margin-left: 0.41em;
  margin-bottom: 1px;
  margin-top: 0.52em;
}

.logo {
  border-radius: 100%;
  width: 90px;
  height: 90px;

}

/* Contenido principal */
.content {
  padding: 2px;
  position: relative;
  top: -42px;
}

/* Información del paciente */
.patient-info {
  margin-bottom: 2px;
}

/* Sección de consultas en dos columnas */
.consultations {
  display: flex;
  gap: 1px;
}

.consultation {
  flex: 1;
  background-color: #f8f9fa;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(136, 135, 135, 0.1);
}

/* Notas adicionales */
.notes {
  margin-top: 10px;
  background-color: #e3f2fd;
  padding: 37px;
  border-radius: 10px;
}

/* Firma y sello */
.signature {
  margin-top: 20px;
  text-align: center;
}

.stamps {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 2px;
}

.stamp {
  width: 150px;
}

/* Pie de página */
footer {
  text-align: center;
  padding: 20px;
}

.qr {
  margin-top: 10px;
}

.print-footer {
  margin-top: 10px;
  font-size: 14px;
  color: gray;
}


@media print {
  @page {
    margin: 0; /* Elimina los márgenes del navegador */
  }

  body {
    margin: 20mm; /* Añade márgenes personalizados si lo deseas */
  }

  /* Oculta encabezado y pie de página del navegador */
  @page :left {
    /* content: none; */
  }

  @page :right {
    content: none;
  }
}
